<app-breadcrumb [icon]="'fa-building'" [title]="'Unidades'" [items]="'Parametrizacion,Unidades'"></app-breadcrumb>

<div class="app-content-inner">
    <div class="app-content-tile">
        <div class="flex-content">
            <div class="filter-content">
                <ul class="filter-inner">
                    <li class="filter-item">
                        <button type="button" class="button btn-default" *ngIf="p.crear == 1" (click)="CrearUnidad(1)">Crear</button>
                    </li>
                    <li class="filter-item">
                        <input type="search" placeholder="Buscar..." (keyup)="search($event.target)">
                    </li>
                </ul>
            </div>
            <div class="table-content">
                <table class="table flex-table">
                    <thead>
                        <tr>
                            <th>Nombre Unidad</th>
                            <th>Estado</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody class="scroll">
                        <tr *ngFor="let item of model.varhistorial; let i = index">
                            <td>
                                {{item.nombre_unidad}}
                            </td>
                            <td>
                                <i class="fa fa-check" style="color: darkgreen;" *ngIf="item.estado"></i>
                                <i class="fa fa-times-circle" style="color:darkred" *ngIf="!item.estado"></i>
                            </td>
                            <td>
                                <button type="button" class="btn btn-info" *ngIf="p.actualizar == 1" (click)="OpenUnidad(item,1)"><i class="fa fa-pencil"></i></button>
                                <button type="button" class="btn btn-secondary" *ngIf="p.actualizar == 1" (click)="openDependencias(item)"><i class="fa fa-bars"></i></button>
                            </td>
                        </tr>
                        <tr *ngIf="model.varhistorial?.length == 0">
                            <div class="dbempty">No hay datos.</div>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="pagination-content">
                <div class="col col100">
                    Cantidad de Registros: {{model.varhistorial?.length}}
                </div>
            </div>
        </div>
    </div>
</div>

<app-modal [title]="model.titulo" class="prioridad" [show]="model.modalCrear" [size]="'modal-lg1'" (close)="closeCrear()">
    <div role="body">
        <div class="inner-col">
            <div class="col col70">
                <div class="label-row">Nombre:</div>
                <input type="text" [(ngModel)]="model.varUnidad.nombre_unidad">
            </div>
            <div class="col col30" *ngIf="model.isCrear == false">
                <div class="label-row">Estado:</div>
                <label class="switch">
                    <input type="checkbox" [(ngModel)]="model.varUnidad.estado">
                    <span class="slider"></span>
                </label>
            </div>
        </div>
    </div>
    <div role="footer">
        <button type="button" class="btn btn-red" (click)="closeCrear()">Cerrar</button>
        <button type="button" class="btn btn-blue" *ngIf="model.isCrear == true" (click)="guardarUnidad(1)">Guardar</button>
        <button type="button" class="btn btn-blue" *ngIf="model.isCrear == false" (click)="guardarUnidad(2)">Guardar</button>
    </div>
</app-modal>

<app-modal [title]="'Dependencias'" [show]="model.modalDependencias" [size]="'modal-md'" (close)="closeDependecias()">
    <div role="body">
        <div class="inner-col">
            <div class="input-group col col40">
                <label>Nombre Unidad:</label>
                <input type="text" disabled [(ngModel)]="model.title">
            </div>
        </div> 
        <div class="col col100">
            <button type="button" class="btn btn-blue" (click)="CrearUnidad(2)">Crear Dependencias</button>  
        </div>
        <div class="inner-col">
            <div class="table-content">
                <table class="table flex-table">
                    <thead>
                        <tr>
                            <th>Nombre Dependencia</th>
                            <th>Estado</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody class="scroll">
                        <tr *ngFor="let item of model.varHistorialDependencias; let i = index">
                            <td>{{item.nombre_unidad}}</td>
                            <td>
                                <i class="fa fa-check" style="color: darkgreen;" *ngIf="item.estado"></i>
                                <i class="fa fa-times-circle" style="color:darkred" *ngIf="!item.estado"></i>
                            </td>
                            <td>
                                <button type="button" class="btn btn-primary button" (click)="OpenUnidad(item,2)">Editar</button>
                            </td>
                        </tr>
                        <tr *ngIf="model.varHistorialDependencias?.length == 0">
                            <div class="dbempty">No hay datos.</div>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div role="footer">
        <button type="button" class="btn btn-red" (click)="closeDependecias()">Cerrar</button>
    </div>
</app-modal>
