<app-breadcrumb [icon]="'fa fa-clipboard-list'" [title]="'Listas Dinamicas'" [items]="'Parametrización,Listas Dinamicas'"></app-breadcrumb>
<div class="app-content-inner">
    <div class="app-content-tile">
        <div class="flex-content">
            <div class="filter-content">
                <ul class="filter-inner">
                    <li class="filter-item">
                        <button type="button" class="button btn-default" (click)="crearLista(1)" *ngIf="model.usuario == 'admin'">Crear</button>
                    </li>
                    <li class="filter-item">
                        <input type="search" placeholder="Buscar..." (keyup)="search($event.target)">
                    </li>
                </ul>
            </div>
            <div class="table-content">
                <table class="table flex-table">
                    <thead>
                        <tr>
                            <th>Nombre Lista</th>
                            <th>Descripcion</th>
                            <th>Estado</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody class="scroll">
                        <tr *ngFor="let item of model.varhistorial; let i = index">
                            <td>{{item.nombre_lista}}</td>
                            <td>{{item.descripcion}}</td>
                            <td>
                                <i class="fa fa-check" style="color: darkgreen;" *ngIf="item.estado"></i>
                                <i class="fa fa-times-circle" style="color:darkred" *ngIf="!item.estado"></i>
                            </td>
                            <td>
                                <button type="button" class="btn btn-info" (click)="crearLista(2,item)" *ngIf="p.actualizar == 1"><i class="fa fa-pencil"></i></button>
                            </td>
                        </tr>
                        <tr *ngIf="model.varhistorial?.length == 0">
                            <div class="dbempty">No hay datos.</div>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<app-modal [title]="'Lista'" [show]="model.Listas" [size]="'modal-lg'" (close)="closeLd()">
    <div role="body">
        <div class="inner-col">
            <div class="col col100">
                <div class="col col40">
                    <div class="label-row">Nombre lista:</div>
                    <input type="text" [(ngModel)]="model.varLista.nombre_lista">
                </div>
                <div class="col col60">
                    <div class="label-row">Descripcion:</div>
                    <textarea style="height: 45px;" [(ngModel)]="model.varLista.descripcion"></textarea>
                </div>
            </div>
        </div>  
        <div class="inner-col">
            <div class="col col100" *ngIf="model.usuario == 'admin'">
                <div class="col col30">
                    <div class="label-row">Nombre Padre:</div>
                    <select (change)="changePadre(model.varLista.nombre_lista_padre_id)" [(ngModel)]="model.varLista.nombre_lista_padre_id">
                        <option value="0">Seleccione</option>
                        <option *ngFor="let opcion of model.varhistorial" [value]="opcion.nombre_lista_id">{{ opcion.nombre_lista }}</option>
                    </select> 
                </div>
                <div class="col col30">
                    <div class="label-row">Valor Padre:</div>
                    <select [(ngModel)]="model.varLista.lista_padre_id" [disabled]="model.varLista.nombre_lista_padre_id == 0 || model.varLista.nombre_lista_padre_id == ''">
                        <option value="0">Seleccione</option>
                        <option *ngFor="let opcion of model.listHijos" [value]="opcion.lista_dinamica_id">{{ opcion.lista_dinamica }}</option>
                    </select>                      
                </div>
                <div class="col col20">
                    <div class="label-row">Activo:</div>
                    <label class="switch">
                        <input type="checkbox" [(ngModel)]="model.varLista.activo">
                        <span class="slider"></span>
                    </label>
                </div>
            </div>
        </div>
        <div class="inner-col">
            <div class="table-content">
                <table class="table flex-table">
                    <thead>
                        <tr>
                            <th>Valor</th>
                            <th>Descripcion</th>
                            <th>Atributo1</th>
                            <th>Atributo2</th>
                            <th>Activo</th> 
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody class="scroll">
                        <tr *ngFor="let lista of model.listListas; let i = index">
                            <td>
                                <input type="text" [(ngModel)]="lista.lista_dinamica">
                            </td>
                            <td>
                                <textarea style="height: 65px;" [(ngModel)]="lista.descripcion"></textarea>
                            </td>
                            <td>
                                <input type="text" [(ngModel)]="lista.atributo1">
                            </td>
                            <td>
                                <input type="text" [(ngModel)]="lista.atributo2">
                            </td>
                            <td>
                                <label class="switch">
                                    <input type="checkbox" [(ngModel)]="lista.activo" (click)="checkbox(1,lista,!lista.estado)">
                                    <span class="slider"></span>
                                </label>
                            </td>
                            <td>
                                <button type="button" class="btn btn-secondary" *ngIf="lista.Nuevoregistro == true" (click)="delete(i)"><i class="fa fa-circle-xmark"></i></button>
                                <!-- <button type="button" class="btn btn-secondary"><i class="fa fa-trash"></i></button> -->
                            </td>
                        </tr>
                        <tr *ngIf="model.listListas?.length == 0">
                            <div class="dbempty">No hay datos.</div>
                        </tr>
                        <tr class="add_row_full">
                            <button type="button" class="button btn-blue" (click)="add()">Agregar</button>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div role="footer">
        <button type="button" class="btn btn-red" (click)="closeLd()">Cerrar</button>
        <button type="button" class="btn btn-blue" (click)="guardar()">Guardar</button>
    </div>
</app-modal>
