<app-breadcrumb [icon]="'fa fa-id-card'" [title]="'Tarjetas de Manejo'" [items]="'Tarjetas de Manejo'"></app-breadcrumb>
<div class="app-content-inner">
    <div class="app-content-tile">
        <div class="flex-content">
            <div class="filter-content">
                <ul class="filter-inner">
                    <li class="filter-item">
                        <button type="button" class="button btn-default" (click)="CrearTajeta()">Crear</button>
                    </li>
                    <li class="filter-item">
                        <div class="input-group-btn">
                            <input type="search" placeholder="Buscar..." (keyup)="search($event)" (search)="clearSearch($event)">
                            <button type="button" class="button btn-default">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="table-content">
                <table class="table flex-table">
                    <thead>
                        <tr>
                            <th>Grado-Nombre</th>
                            <th>Cedula</th>
                            <th>Tipo</th>
                            <th>Clasificacion</th>
                            <th>Vigencia</th>
                            <th>Fecha Inicio</th>
                            <th>Fecha Fin</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody class="scroll">
                        <tr *ngFor="let item of model.varhistorial; let i = index">
                            <td>{{item.nombre_lista}}</td>
                            <td>{{item.descripcion}}</td>
                            <!-- <td *ngIf="model.usuario == 'admin'">
                                <i class="fa fa-check" style="color: darkgreen;" *ngIf="item.estado"></i>
                                <i class="fa fa-times-circle" style="color:darkred" *ngIf="!item.estado"></i>
                            </td> -->
                            <td>
                                <button type="button" class="button btn-edit">Editar</button>
                                <button type="button" class="button btn-edit">Detalle</button>
                            </td>
                        </tr>
                        <tr *ngIf="model.varhistorial?.length == 0">
                            <div class="dbempty">No hay datos.</div>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<app-modal [title]="'Tarjeta de Manejo'" [show]="model.tarjeta" [size]="'modal-wmd-4'" (close)="closeT()">
    <div role="body">
        <div class="inner-col">
            <div class="col col100">
                <div class="col col20">
                    <div class="label-row">Numero Identificacion:</div>
                    <div class="input-group-btn">
                        <input type="search" style="
                        -webkit-appearance: none;
                        appearance: none;
                        border-radius: 5px;
                        height: 30px;
                        background-color: white;" [(ngModel)]="model.varTarjeta.numero_identificacion">
                        <button type="button" class="button btn-default">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
                <div class="col col15">
                    <div class="label-row">Grado:</div>
                    <select disabled [(ngModel)]="model.varTarjeta.grado">
                        <option value="0">Sin grado</option>
                        <option *ngFor="let item of model.gradosList" [value]="item.lista_dinamica_id">{{ item.lista_dinamica }}</option>
                    </select>  
                </div>
                <div class="col col20">
                    <div class="label-row">Nombres:</div>
                    <input type="text" disabled [(ngModel)]="model.varTarjeta.nombres">
                </div>
                <div class="col col20">
                    <div class="label-row">Apellidos:</div>
                    <input type="text" disabled [(ngModel)]="model.varTarjeta.apellidos">
                </div>
                <div class="col col25" style="text-align: center;">
                    <div class="imagen">
                        <canvas #myCanvas style="width: 200px; height: 200px; padding-bottom: 10px; object-fit: contain;"></canvas>
                    </div>
                </div>
            </div>
        </div>  
        <div class="inner-col">
            <div class="col col100">
                <div class="col col20">
                    <div class="label-row">Restringe DA:</div>
                    <label class="switch">
                        <input type="checkbox" [(ngModel)]="model.varTarjeta.activo">
                        <span class="slider"></span>
                    </label>
                </div>
            </div>
        </div>
        <div class="inner-col">
            <div class="table-content">
                <table class="table flex-table">
                    <thead>
                        <tr>
                            <th>Tipo</th>
                            <th>Clasificacion</th>
                            <th>Vigencia</th>
                            <th>Fecha Inicio</th>
                            <th>Fecha Fin</th>
                            <th>Unidad</th>
                            <th>Dependencia</th>
                            <th>Cargo</th>
                            <th>Gr-Nombre Firma</th>
                            <th>Cargo Firma</th>
                            <th>Imprimir</th>
                            <th>Acta HERMES</th>
                            <th>Formato Reserva</th>
                            <th>Activo</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody class="scroll">
                        <tr *ngFor="let lista of model.listTarjetas; let i = index">
                            <td>
                                <select [(ngModel)]="lista.tipo"> 
                                    <option value="0">Seleccione</option>
                                </select>
                            </td>
                            <td>
                                <select [(ngModel)]="lista.clasificacion">
                                    <option value="0">Seleccione</option>
                                </select>
                            </td>
                            <td>
                                <input type="text" disabled [(ngModel)]="lista.vigencia">
                            </td>
                            <td>
                                <input type="date" [(ngModel)]="lista.fecha_inicio">
                            </td>
                            <td>
                                <input type="date" [(ngModel)]="lista.fecha_fin">
                            </td>
                            <td>
                                <select [(ngModel)]="lista.unidad">
                                    <option value="0">Seleccione</option>
                                </select>
                            </td>
                            <td>
                                <select [(ngModel)]="lista.dependencia">
                                    <option value="0">Seleccione</option>
                                </select>
                            </td>
                            <td>
                                <input type="text" [(ngModel)]="lista.cargo">
                            </td>
                            <td>
                                <input type="text" [(ngModel)]="lista.gr_nombre">
                            </td>
                            <td>
                                <input type="text" [(ngModel)]="lista.gr_cargo">
                            </td>
                            <td>
                                <button type="button"><i class="fa fa-print"></i></button>
                            </td>
                            <td>
                                <button type="button"><i class="fa fa-upload"></i> Acta HERMES</button>
                            </td>
                            <td>
                                <button type="button"><i class="fa fa-upload"> Formato Reserva</i></button>
                            </td>
                            <td>
                                <label class="switch">
                                    <input type="checkbox" [(ngModel)]="lista.activo">
                                    <span class="slider"></span>
                                </label>
                            </td>
                            <td>
                                <button type="button" class="btn btn-secondary" *ngIf="lista.Nuevoregistro == true" (click)="delete(i)"><i class="fa fa-circle-xmark"></i></button>
                            </td>
                        </tr>
                        <tr *ngIf="model.listTarjetas?.length == 0">
                            <div class="dbempty">No hay datos.</div>
                        </tr>
                        <tr class="add_row_full">
                            <button type="button" class="button btn-blue" (click)="add()">Agregar</button>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div role="footer">
        <button type="button" class="btn btn-red" (click)="closeT()">Cerrar</button>
        <button type="button" class="btn btn-blue" (click)="guardar()">Guardar</button>
    </div>
</app-modal> 
