<app-breadcrumb [icon]="'fa fa-id-card'" [title]="'Tarjetas de Manejo'" [items]="'Tarjetas de Manejo'"></app-breadcrumb>
<div class="app-content-inner">
    <div class="app-content-tile">
        <div class="flex-content">
            <div class="filter-content">
                <ul class="filter-inner">
                    <li class="filter-item">
                        <button type="button" class="button btn-default" (click)="CrearTajeta()">Crear</button>
                    </li>
                    <li class="filter-item">
                        <input type="search" placeholder="Buscar..." (keyup)="search($event.target)">
                    </li>
                </ul>
            </div>
            <div class="table-content">
                <table class="table flex-table">
                    <thead>
                        <tr>
                            <th>Grado-Nombre</th>
                            <th>Cedula</th>
                            <!-- <th>Tipo</th>
                            <th>Clasificacion</th>
                            <th>Vigencia</th>
                            <th>Fecha Inicio</th>
                            <th>Fecha Fin</th> -->
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody class="scroll">
                        <tr *ngFor="let item of model.varhistorial; let i = index">
                            <td>{{item.nombre_grado}}</td>
                            <td>{{item.numero_identificacion}}</td>
                            <!-- <td *ngIf="model.usuario == 'admin'">
                                <i class="fa fa-check" style="color: darkgreen;" *ngIf="item.estado"></i>
                                <i class="fa fa-times-circle" style="color:darkred" *ngIf="!item.estado"></i>
                            </td> -->
                            <td>
                                <button type="button" class="button btn-edit" (click)="editar(item)">Editar</button>
                                <button type="button" class="button btn-edit" (click)="detalle(item)">Detalle</button>
                            </td>
                        </tr>
                        <tr *ngIf="model.varhistorial?.length == 0">
                            <div class="dbempty">No hay datos.</div>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<app-modal [title]="'Tarjeta de Manejo'" [show]="model.tarjeta" [size]="'modal-wmd-4'" (close)="closeT()">
    <div role="body">
        <div class="inner-col">
            <div class="col col100">
                <div class="col col20">
                    <div class="label-row">Numero Identificacion:</div>
                    <div class="input-group-btn">
                        <input type="search" style="
                        -webkit-appearance: none;
                        appearance: none;
                        border-radius: 5px;
                        height: 30px;
                        background-color: white;" [(ngModel)]="model.varTarjeta.numero_identificacion" [disabled]="model.isCrear == false">
                        <button *ngIf="model.isCrear == true" type="button" class="button btn-default" (click)="buscarPersona(model.varTarjeta.numero_identificacion)">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
                <div class="col col15">
                    <div class="label-row">Grado:</div>
                    <select disabled [(ngModel)]="model.varTarjeta.grado">
                        <option value="0">Sin grado</option>
                        <option *ngFor="let item of model.gradosList" [value]="item.lista_dinamica_id">{{ item.lista_dinamica }}</option>
                    </select>  
                </div>
                <div class="col col20">
                    <div class="label-row">Nombres:</div>
                    <input type="text" disabled [(ngModel)]="model.varTarjeta.nombres">
                </div>
                <div class="col col20">
                    <div class="label-row">Apellidos:</div>
                    <input type="text" disabled [(ngModel)]="model.varTarjeta.apellidos">
                </div>
                <div class="col col25" style="text-align: center;">
                    <div class="imagen">
                        <canvas #myCanvas style="width: 200px; height: 200px; padding-bottom: 10px; object-fit: contain;"></canvas>
                    </div>
                </div>
            </div>
        </div>  
        <div class="inner-col">
            <div class="col col100">
                <div class="col col20">
                    <div class="label-row">Restringe DA:</div>
                    <label class="switch">
                        <input type="checkbox" [disabled]="model.isLectura == true" [(ngModel)]="model.varTarjeta.activo">
                        <span class="slider"></span>
                    </label>
                </div>
            </div>
        </div>
        <div class="inner-col">
            <div class="table-content">
                <table class="table flex-table">
                    <thead>
                        <tr>
                            <th>Tipo</th>
                            <th>Clasificacion</th>
                            <th>Vigencia</th>
                            <th>Fecha Inicio</th>
                            <th>Fecha Fin</th>
                            <th>Unidad</th>
                            <th>Dependencia</th>
                            <th>Cargo</th>
                            <th>Gr-Nombre Firma</th>
                            <th>Cargo Firma</th>
                            <th *ngIf="model.isLectura == true">Imprimir</th>
                            <th>Acta HERMES</th>
                            <th>Formato Reserva</th>
                            <th>Activo</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody class="scroll">
                        <tr *ngFor="let lista of model.listTarjetas; let i = index">
                            <td>
                                <select [(ngModel)]="lista.tipo_id" [disabled]="model.isLectura == true"> 
                                    <option value="0">Seleccione</option>
                                    <option *ngFor="let item of model.tiposList" [value]="item.lista_dinamica_id">{{ item.lista_dinamica }}</option>
                                </select>
                            </td>
                            <td>
                                <select [(ngModel)]="lista.clasificacion_id" [disabled]="model.isLectura == true" (change)="vigencia(i,lista.clasificacion_id)">
                                    <option value="0">Seleccione</option>
                                    <option *ngFor="let item of model.clasificacionList" [value]="item.lista_dinamica_id">{{ item.lista_dinamica }}</option>
                                </select>
                            </td>
                            <td>
                                <input type="text" disabled [(ngModel)]="lista.vigencia">
                            </td>
                            <td>
                                <input type="date" [disabled]="model.isLectura == true" [(ngModel)]="lista.fecha_inicio" (change)="changefechaInicio(i)">
                            </td>
                            <td>
                                <input type="date" disabled [(ngModel)]="lista.fecha_fin">
                            </td>
                            <td>
                                <input type="text" disabled [(ngModel)]="lista.unidad">
                            </td>
                            <td>
                                <input type="text" disabled [(ngModel)]="lista.dependencia">
                            </td>
                            <td>
                                <input type="text" disabled [(ngModel)]="lista.cargo">
                            </td>
                            <td>
                                <input type="text" [disabled]="model.isLectura == true" [(ngModel)]="lista.nombre_firma">
                            </td>
                            <td>
                                <input type="text" [disabled]="model.isLectura == true" [(ngModel)]="lista.cargo_firma">
                            </td>
                            <td *ngIf="model.isLectura == true">
                                <button type="button" class="btn btn-blue"><i class="fa fa-print"></i></button>
                            </td>
                            <td *ngIf="model.isLectura == false">
                                <input type="file" #filetarget id="filetargetid" (change)="changefileActa($event,i)" accept=".pdf" aria-label="Seleccionar imagen" hidden>
                                <label for="filetargetid" class="btn btn-blue">
                                    <div class="text-1"><i class="fas fa-upload"></i></div>
                                </label>
                            </td>
                            <td *ngIf="model.isLectura == true">
                                <a href="javascript:void(0)" 
                                style="cursor:pointer"
                                class="btn btn-blue"
                                (click)="descargarDoc( lista.url_acta, model.varTarjeta.numero_identificacion, 1)">
                                <i class="fa fa-download"></i></a>
                            </td>
                            <td *ngIf="model.isLectura == false">
                                <input type="file" #filetarget id="filetargetid1" (change)="changefileReserva($event,i)" accept=".pdf" aria-label="Seleccionar imagen" hidden>
                                <label for="filetargetid1" class="btn btn-blue">
                                    <div class="text-1"><i class="fas fa-upload"></i></div>
                                </label>
                            </td>
                            <td *ngIf="model.isLectura == true">
                                <!-- reserva -->
                                <a href="javascript:void(0)" 
                                style="cursor:pointer"
                                class="btn btn-blue"
                                (click)="descargarDoc( lista.url_reserva, model.varTarjeta.numero_identificacion, 1)">
                                <i class="fa fa-download"></i></a>
                            </td>
                            <td>
                                <label class="switch">
                                    <input type="checkbox" [disabled]="model.isLectura == true" [(ngModel)]="lista.activo">
                                    <span class="slider"></span>
                                </label>
                            </td>
                            <td>
                                <i class="fa fa-circle-xmark" style="color:darkred;" *ngIf="lista.Nuevoregistro == true" (click)="delete(i)"></i>
                            </td>
                        </tr>
                        <tr *ngIf="model.listTarjetas?.length == 0">
                            <div class="dbempty">No hay datos.</div>
                        </tr>
                        <tr class="add_row_full" *ngIf="model.isLectura == false">
                            <button type="button" class="button btn-blue" (click)="add()">Agregar</button>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div role="footer">
        <button type="button" class="btn btn-red" (click)="closeT()">Cerrar</button>
        <button type="button" class="btn btn-blue" *ngIf="model.isLectura == false" (click)="guardar()">Guardar</button>
    </div>
</app-modal> 
