<app-breadcrumb [icon]="'fa-user'" [title]="'Usuarios'" [items]="'Administracion,Usuarios'"></app-breadcrumb>
<div class="app-content-inner">
    <div class="app-content-tile">
        <div class="flex-content">
            <div class="filter-content">
                <ul class="filter-inner">
                    <li class="filter-item">
                        <button type="button" class="button btn-default" *ngIf="p.crear == 1" (click)="create()">Crear</button>
                    </li>
                    <li class="filter-item">
                        <input type="search" placeholder="Buscar..." (keyup)="search($event.target)">
                    </li>
                </ul>
            </div>
            <div class="table-content">
                <table class="table flex-table">
                    <thead>
                        <tr>
                            <th>Usuario</th>
                            <th>Nombres</th>
                            <th>Apellidos</th>
                            <th>Estado</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody class="scroll">
                        <tr *ngFor="let item of model.varhistorial; let i = index">
                            <td>{{item.usuario}}</td>
                            <td>{{item.nombres}}</td>
                            <td>{{item.apellidos}}</td>
                            <td>
                                <i class="fa fa-1m5x fa-check-circle" *ngIf="item.estado == 'S'"></i>
                                <i class="fa fa-1m5x fa-times-circle" *ngIf="item.estado == 'N'"></i>
                            </td>
                            <td class="table-buttons-action">
                                <button type="button" class="button btn-edit" *ngIf="p.actualizar == 1" (click)="edit(item)">Editar</button>
                                <button type="button" class="button btn-edit" *ngIf="p.actualizar == 1" (click)="openRolModal(item)">Asignar Rol</button>
                            </td>
                        </tr>
                        <tr *ngIf="model.varhistorial?.length == 0">
                            <div class="dbempty">No hay datos.</div>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="pagination-content">
                <div class="col col100">
                    Cantidad de Registros: {{model.varhistorial?.length}}
                </div>
            </div>
        </div>
    </div>
</div>

<app-modal [title]="model.title" [show]="model.modal" [size]="'modal-md-w'" (close)="closeModal($event)">
    <div role="body">
        <div class="inner-col">
            <div class="col col100 title-row">
                Datos Personales
            </div>
            <div class="line-col"></div>
            <div class="col col33">
                <div class="label-row">Nombres</div>
                <input type="text" [(ngModel)]="model.varUsuario.nombres">
            </div>
            <div class="col col33">
                <div class="label-row">Apellidos</div>
                <input type="text" [(ngModel)]="model.varUsuario.apellidos">
            </div>
            <div class="col col33">
                <div class="label-row">Correo Electronico</div>
                <input type="text" [(ngModel)]="model.varUsuario.email">
            </div>
            <div class="col col100 title-row">
                Credenciales
            </div>
            <div class="line-col"></div>
            <div class="col col33">
                <div class="label-row">Usuario</div>
                <input type="text" [(ngModel)]="model.varUsuario.usuario" style="text-transform: lowercase;">
            </div>
            <div class="col col33" *ngIf="model.isCrear == true">
                <div class="label-row">Contraseña</div>
                <input type="password" [(ngModel)]="model.varUsuario.password">
            </div>
            <div class="col col33" *ngIf="model.isCrear == true">
                <div class="label-row">Confirmar Contraseña</div>
                <input type="password" [(ngModel)]="model.varUsuario.password2">
            </div>
            <div class="col col10" *ngIf="model.isCrear == false">
                <div class="label-row">Activo</div>
                <label class="switch">
                    <input type="checkbox" [(ngModel)]="model.varUsuario.activo">
                    <span class="slider"></span>
                </label>
            </div>
            <div class="col col15" *ngIf="model.isCrear == false">
                <br>
                <button type="button" class="btn btn-blue" (click)="changepassword()">Cambiar Contraseña</button>
            </div>
        </div>
    </div>
    <div role="footer">
        <button type="button" class="btn btn-red" (click)="closeModal(false)">Cerrar</button>
        <button *ngIf="model.isCrear == true" type="button" class="btn btn-blue" (click)="guardar(1)">Guardar</button>
        <button *ngIf="model.isCrear == false" type="button" class="btn btn-blue" (click)="guardar(2)">Guardar</button>
    </div>
</app-modal>

<app-modal [title]="'Asignar Rol'" [show]="model.rolModal" [size]="'modal-md-w'" (close)="closeRolModal($event)">
    <div role="body">
        <div class="inner-col">
            <div class="col col33">
                <div class="label-row">Usuario</div>
                <input type="text" [(ngModel)]="model.usuario">
            </div>
        </div>
        <div class="inner-col">
            <div class="table-content">
                <table class="table flex-table">
                    <thead>
                        <tr>
                            <th>Rol</th>
                            <th>Módulo</th>
                            <th>Nombre Pantalla</th>
                            <th>Activo</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody class="scroll">
                        <tr *ngFor="let rol of model.varRol; let i = index">
                            <td>
                                <input type="text" placeholder="Selecciona..." [(ngModel)]="rol.nombre_rol" (click)="saveRol(i)">
                            </td>
                            <td>
                                <input type="text" placeholder="Modulo" type="text" [(ngModel)]="rol.modulo" disabled>
                            </td>
                            <td>
                                <input disabled type="text" [(ngModel)]="rol.nombre_pantalla">
                            </td>
                            <td>
                                <div class="table-checkbox-component">
                                    <label class="switch">
                                        <input type="checkbox" [(ngModel)]="rol.activo">
                                        <span class="slider"></span>
                                    </label>
                                </div>
                            </td>
                            <td>
                                <i class="fa fa-1m5x fa-times-circle pointer noselect" style="color: black !important;" *ngIf="model.varRol[i].NuevoRegistro" (click)="delete(i)"></i>
                                <i class="fa fa-1m5x fa-trash pointer noselect" style="color: red !important;" *ngIf="model.varRol[i].EliminarRegistro"></i>
                            </td>
                        </tr>
                        <tr class="add_row_full">
                            <button type="button" class="button btn-blue" (click)="add()">Agregar</button>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div role="footer">
        <button type="button" class="btn btn-red" (click)="closeRolModal(false)">Cerrar</button>
        <button type="button" class="btn btn-blue" (click)="guardarAsignacion()">Guardar</button>
    </div>
</app-modal>

<app-select-rol-modal [title]="'Roles'" [show]="model.selectModal" [array]="model.array" [arrayTemp]="model.array" (output)="dataform(model.inputform, $event)" (close)="closeSelectModal($event)"></app-select-rol-modal>